body {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0;
  color: #1c2625;
  line-height: 1.6;
  background-color: #f4f6f6;
}
.logo {
  max-height: 40px;
  width: auto;
}
.nav_foot {
  background-color: #637e7a;
  color: #1c2625;
}
/* #hero {
    background-color: #F4F6F6;
    color: #1C2625;
    height: 60vh; 
    padding: 20px;
  }
  
  #project {
    background-color: #D1DBDA;
    color: #1C2625;
    padding: 50px;
    min-height: 400px; 
  } */
footer {
  padding: 10px;
  bottom: 0;
  width: 100%;
}
#copy {
  text-align: center;
}

#hero,
#project,
#about {
  background-color: #f4f6f6;
  color: #1c2625;
  padding: 50px;
  min-height: 400px;
}

#project {
  background-color: #d1dbda;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.text {
  flex: 1;
  padding-right: 20px;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  width: 100%;
  max-width: 404px;
  height: auto;
  border-radius: 8px;
}

button {
  background-color: #f89b29;
  color: #1c2625;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #e58921;
}
#project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#project .text {
  order: 2;
  flex: 1;
  padding-left: 20px;
}

#project .image {
  order: 1;
  flex: 0 0 404px;
}

.image img {
  width: 100%;
  max-width: 404px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #project .image {
    order: 2;
    flex: 0 0 404px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .text {
    padding-right: 0;
    text-align: center;
  }

  .image {
    margin-top: 20px;
  }
}
